@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.corpo {
  max-width: 940px;
  margin: 0 auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.cabecalho {
  background-color: #0094FF;
  padding: 10px;
}

.app-name {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
}

.card p {
  margin: 0px !important;
  font-size: .7em !important;
}

.nome-tabela {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-bottom: 0px;
}

.tabela-tarefas {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
}

.tarefa-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  min-height: 5em;
  text-align: center;
  width: min-content;
  background-color: rgb(252, 252, 170);
  box-shadow: 5px 5px 5px grey;
  padding: 5px;
  margin: 2% 0;
}

.span-tarefa {
  background-color: #dddddd;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.descricao-tarefa {
  min-height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
    text-align: center;
    margin: 10px auto;
    width: 60%;
}

.botao-menu {
    border-radius: 4px;
    padding: 10px 0px;
    background-color: rgb(173, 173, 173);
    color: rgb(236, 236, 236);
    font-size: large;
    margin: 20px 0; 
}

.back-button{
  border-style: none;
  background-color: rgba(196, 196, 196, 0.31);
  width: 8rem;
  padding: 0.75rem;
}

.card-membro {
  padding: 5px !important;
  width: 48% !important;
  margin: 5px 0px;
}

.input-descricao {
  width: 95%;
  min-height: 15em;
  padding: 5px;
  margin: 5px;
}

.card-evento {
  width: 45%;
  margin-bottom: 5px;
  text-align: center;
  min-height: 15em;
}

.input-novo{
  text-align: center;
  padding: 5px;
  margin: 3px;
}

.btn {
  margin: 5px 0 !important;
  width: 90% !important;
  font-size: small !important;
}

.reuniao {
  background-color: purple !important;
  color: azure;
}

.deadline {
  background-color: orangered !important;
  color: azure;
}

.aniversario {
  background-color: green !important;
  color: azure;
}

.lista-equipes {
  border-radius: 10px;
  padding-bottom: 20px;
}

.card-equipe {
  width: 98%;
  margin: 5px;
  text-align: center;
}

.card-equipe-membro {
  width: 24% !important;
  padding: 5px !important;
  text-align: center;
  font-size: small;
}

.hide {
  display: none !important;
}

.help-block {
  color: orangered;
}

.input-dataHora {
  display: flex;
  flex-direction: row;
}